[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
requests = "*"
black = "*"
openai = "*"
llama-cpp-python = "*"
pydantic = "*"
fitz = "*"
pymupdf = "*"
chromadb = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.10"
